<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Facture</title>
    <link href="https://fonts.cdnfonts.com/css/poppins" rel="stylesheet">
    <style>
        body {
            width: calc(700px);
            font-family: 'Poppins', sans-serif;
        }
        /* #9587BF; */

        .right {
            text-align: right;
        }

        table {
            width: 100%;
            text-align: left;
            margin: 30px 0px;
            border-spacing: 0px;
        }

        table, th, tr, th, td {
            padding: 0px;
            margin: 0px;
        }

        td {
            padding-top: 10px;
            font-size: 14px;
        }

        th {
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
        }

        section {
            margin: 40px 0px;
        }
        

        .line {
            font-size: 12px;
        }

        h1 {
            font-style: normal;
            font-weight: 500;
            font-size: 42px;
            margin: 0px;
        }

        h2 {
            font-style: normal;
            font-weight: 500;
            font-size: 22px;
            line-height: 33px;
            margin: 0px;
        }

        h3 {
            font-style: normal;
            font-weight: 700;
            font-size: 14px;
            color: #7B7B7B;
        }

        span {
            color: #9587BF;
        }
    </style>
</head>
<body>
    <section>
        <table>
            <tr>
                <th rowspan="2" colspan="8">
                    <h1>Facture</h1> 
            </th>
                <td class="right"> <h2>N°<span>{{invoice_number}}</span></h2></td>
            </tr>
            <tr>
                <td class="right"> <h2><span>DATE:</span></h2> </td>
            </tr>
        </table>
    </section>
    <section>
        <table>
            <tr>
                <th style="width: 350px;" ><h3>LE PRESTATAIRE</h3></th>
                <th><h3>LE CLIENT</h3></th>
            </tr>
            <tr>
                <td>{{provider.label}}</td>
                <td>{{client.label}}</td>
            </tr>
            <tr>
                <td>{{provider.address.number}} {{provider.address.street}}</td>
                <td>{{client.address.number}} {{client.address.street}}</td>
            </tr>
            <tr>
                <td>{{provider.address.zip_code}} {{provider.address.city}}</td>
                <td>{{client.address.zip_code}} {{client.address.city}}</td>
            </tr>
            <tr>
                <td>{{provider.siren}}</td>
                <td>{{client.siret}}</td>
            </tr>
        </table>
    </section>

    <span>TVA non applicable, art 293 B du CGI</span>

    <section>
        <table>
            <tr>
                <th colspan="3">Prestation</th>
                <th colspan="1"></th>
                <th colspan="1" class="right">Quantité</th>
                <th colspan="1" class="right">Prix unitaire</th>
                <th colspan="2" class="right">Total</th>
            </tr>

            {{#each prestations}}
            <tr class="line">
                <td colspan="3" >{{this.label}}</td>
                <td colspan="1">{{this.target}}</td>
                <td colspan="1" class="right" >{{this.quantity}}</td>
                <td colspan="1" class="right">{{this.unitPrice}}€</td>
                <td colspan="2" class="right">{{this.total}}€</td>
            </tr>
            {{/each}}
    
            <tr >
                <td colspan="7">
                    <h2>Total</h2>
                </td>
                <td class="right">
                    <h2>{{total}}€</h2>
                </td>
            </tr>
        </table>
    </section>
</body>
</html>